<%- include("layout", { body: `
  <div class="container">
    <div class="gridSingle">
      <div class="card" style="text-align:center; max-width: 700px; margin: 0 auto;">

        <h1 class="title">Thank you!</h1>

        <p class="subtitle" style="max-width: 100%; margin-top: 10px;">
          Your responses have been successfully submitted.
        </p>

        <img 
          src="images/beer.jpg" 
          alt="Cheers!"
          style="max-width: 260px; width: 100%; margin: 24px auto; border-radius: 16px;"
        />

        <p style="font-size: 1.1rem; font-weight: 600;">
          Thank you very much for taking the time out to take part in my Dissertation Project. I owe you a drink! 
        </p>

      </div>
    </div>
  </div>
` }) %>